html {
    background: url(./images/basil-chopping-board-fresh-green-616484.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    /* padding: 0; */
}

#navbar {
    border: solid green 5px;
    list-style-type: none;
    margin-top: 35;
    padding: 10px;
    display: inline-block;
    background-color: lightblue;
}

.navList {
    border: solid black 3px;
    padding: 5px;
    border-bottom: solid black 0px;
    
}
#navLast {
    border-bottom: solid black 3px;
}




h2 {
    background-color: lightblue;
    font-size: 150%;
    border: solid green 5px;
    display: inline;
    border-style: inset;
    padding: 5px;
}
h4 {
    background-color: lightblue;
    font-family: 'Gotu';
    border: solid green 5px;
    display: inline;
    border-style: inset;
    padding: 5px;
}
  
h1 {
    background-color: lightblue;
    font-size: 150%;
    font-family: 'Gotu';
    border: solid green 10px;
    border-radius: 5px;
    border-style: inset;
    display: inline-block;
    padding: 5px;
}

p {
    font-family: 'Roboto Slab';
    /* text-align: justify; */
    margin-left: 18%;
    margin-right: 18%;
    font-weight: bold;
}


figure {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    /* width: 50%; */
}

#title {
    font-size: 300%;
    text-align: center;
}

/* ul {
    text-align: justify;
    text-align: center; */
/* } */

#dad {
    border-radius: 50%;
}

img {
    margin-top: 10px;
    border: solid black 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

li {
    font-family: 'Roboto Slab';
    font-size: small;
    font-weight: bold;
    text-align: justify;
}

figcaption {
    color: whitesmoke;
    font-family: 'Roboto Slab';
    background-color: black;
    display: inline;
}
main {
    background-image: url(./images/abstract-triangle-with-gray-background-vector-3179518.jpg);
    /* margin-top: 5%; */
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
    padding-bottom: 50px;
}
#backToTop {
    font-weight: bold;
    background-color: lightblue;
    border: solid black 3px;
    padding: 5px;
}

a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:blue }



#mainHeader {
    border: solid green 10px;
    border-radius: 10px;
    border-style: ridge;
}

#leftButton {
    margin-top: 15px;
    padding: 10px;
    color: white;
    background-color: black;
    width: 80px;
}

#rightButton {
    margin-top: 15px;
    padding: 10px;
    color: white;
    background: black;
    width: 80px;
}







